.button {
  width: 100%;
  padding: 0;
  height: 50px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #000;
}

.button:hover {
  cursor: pointer;
  background-color: #353535;
}

.green {
  color: #bdffd1;
}

.red {
  color: #ffbdbd;
}

.w80 {
  width: 80%;
}

.w20 {
  width: 20%;
}
